.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #160d02, #543d21, #160d02);
  height: 100vh;

    cursor: url('wand.png'), pointer;  
    cursor: url('wand.png'), -moz-zoom-in;  
    cursor: url('wand.png'), -webkit-zoom-in;
}

.Sorting {
  text-align: center;
  background-image: linear-gradient(to bottom right, #061630, #325b9e, #061630);
  height: 100%;

    cursor: url('wand.png'), pointer;  
    cursor: url('wand.png'), -moz-zoom-in;  
    cursor: url('wand.png'), -webkit-zoom-in;
}

.logo {
  margin-top: 100px;
  height: auto;
  width: 30%;
}

.App-title {
  font-size: 1.5em;
}

.Welcome {
  color: gold;
  font-family: 'Charmonman', cursive;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: gold;
  font-family: 'Charmonman', cursive;
}
.enter-school {
  font-family: 'Charmonman', cursive;
  height: 5vh;
  width: 15%;
  margin-top: 25px;
  font-size:1em;
  background-image: linear-gradient(to bottom right, rgb(209, 87, 6), rgb(245, 183, 12));
  cursor: url('wand.png'), pointer;  
  cursor: url('wand.png'), -moz-zoom-in;  
  cursor: url('wand.png'), -webkit-zoom-in;
}

.enter-school:hover {
  background-image: linear-gradient(to bottom right, rgb(245, 183, 12), rgb(209, 87, 6));
}


.q1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.sorting-hat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-me {
  font-family: 'Charmonman', cursive;
  height: 5vh;
  width: 15%;
  margin-bottom: 50px;
  font-size:1em;
  background-image: linear-gradient(to bottom right, rgb(209, 87, 6), rgb(245, 183, 12));
  cursor: url('wand.png'), pointer;  
  cursor: url('wand.png'), -moz-zoom-in;  
  cursor: url('wand.png'), -webkit-zoom-in;
}

.sort-me:hover {
  background-image: linear-gradient(to bottom right, rgb(245, 183, 12), rgb(209, 87, 6));
}

.quiz-button {
  font-family: 'Charmonman', cursive;
  height: 8vh;
  width: 25%;
  margin-top: 25px;
  font-size:1em;
  background-image: linear-gradient(to bottom right, rgb(209, 87, 6), rgb(245, 183, 12));
  cursor: url('wand.png'), pointer;  
  cursor: url('wand.png'), -moz-zoom-in;  
  cursor: url('wand.png'), -webkit-zoom-in;
}

.quiz-button:hover {
  background-image: linear-gradient(to bottom right, #910808, rgb(209, 87, 6));
}

.answer-four {
  margin-bottom: 50px;  
}